@* @page *@
@* @model dynamic *@
@{
    ViewData["Title"] = "Index";
}

<div class="container text-center mt-5">
    <h1>Welcome to My ASP.NET Core 6 Application</h1>
    <p>This is your home page!</p>
</div>
